# startd hook to check if node is healthy 

STARTD_CRON_NodeHealth_EXECUTABLE = /kb/deployment/bin/cron/health_check.sh
STARTD_CRON_NodeHealth_PERIOD = 180s
STARTD_CRON_NodeHealth_MODE = Periodic

# startd hook to delete exited containers
STARTD_CRON_DeleteExitedContainers_EXECUTABLE = /kb/deployment/bin/cron/delete_exited_containers.sh
STARTD_CRON_DeleteExitedContainers_PERIOD = 600s
STARTD_CRON_DeleteExitedContainers_MODE = Periodic

# startd hook to delete abanonded
STARTD_CRON_ReapAbandondedContainers_EXECUTABLE = /kb/deployment/bin/cron/container_reaper.py
STARTD_CRON_ReapAbandondedContainers_PERIOD = 60s
STARTD_CRON_ReapAbandondedContainers_MODE = Periodic

STARTD_CRON_JOBLIST = NodeHealth, DeleteExitedContainers, ReapAbandondedContainers
STARTD_CRON_AUTOPUBLISH = If_Changed
